.lineTitels{
  width: 200px;
  color: black;
  font-size: 25px;
  font-family: 'Xanh Mono', monospace;

  display: inline-block;
  float: left;

  background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);

  border: 1px solid #808080;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}

.home-button{
   left: 8px;
}

.home-container-logout{
  width: 100%;
  max-width: 1200px; /* максимальный размер контейнера */
  margin: 0 auto; /* выравнивание по центру */

  justify-content: center;
  text-align: center;
}

.home-title-logout{
  font-family: 'Xanh Mono', monospace;
  font-size: 30px;
  font-weight:700;
  padding: 8px;
}
.loading {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;

  /*display: block;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;*/
}
