.title {
  font-family: 'Xanh Mono', monospace;
  font-size: 30px;
  font-weight: 700;
  padding: 8px;
}

.container{
  width: 100%;
  max-width: 1200px; /* максимальный размер контейнера */
  margin: 0 auto; /* выравнивание по центру */

  justify-content: center;
  text-align: center;
}

.input {
  width: 400px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button{
  margin: 2px;
}
