.view-title{
  font-size: 27px;
  font-family: 'Xanh Mono', monospace;
  text-align: center;
}
.view-creation{
  font-size: 23px;
  font-family: 'Xanh Mono', monospace;
  margin-left: 8px;

}

.view-input{
  margin: 4px;
  padding: 4px;
}
.view-button{
  margin: 2px;
}
