<button class="create-button-main" mat-raised-button color="accent" (click)="InvertState()" *ngIf="!isTab" > Create new list</button>
<div *ngIf="isTab">

  <!-- <input [(ngModel)]="listName"> -->

  <mat-form-field class="input">
    <mat-label>List name</mat-label>
    <input matInput placeholder="Ex. Daily routine" value="" [formControl]="ListFormControl" [(ngModel)]="listName">
    <mat-error *ngIf="ListFormControl.hasError('required')">
      Name of list is <strong>required</strong>
    </mat-error>

  </mat-form-field>

  <button class="create-button" mat-raised-button color="accent"  (click)="callAddList()">Add list</button>
  <button class="create-button" mat-raised-button color="primary" (click)="InvertState()">Cancel</button>
</div>
