<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">

<div class="container">
  <div *ngIf="todoList">
   List title: <strong>{{todoList.title}}</strong>
  </div>


  <div>
<!--    Enter the item:-->
    <app-todo-item-component style="word-wrap: break-word;flex-direction: row; align-items:stretch" *ngFor="let item of todoList.items"
                             (deleteItem)="DeleteItemFunc(item)"
                             [todoItem]="item"></app-todo-item-component>
  </div>

  <div style="width: 100%">
    <mat-form-field style="align-items: stretch; width: 100%; height: auto">
      <mat-label>Enter the item</mat-label>
      <textarea  matInput  value=""  [formControl]="ItemFormControl" [(ngModel)]="itemName"></textarea>

      <mat-error *ngIf="ItemFormControl.hasError('required')">
        Name of list is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <button mat-raised-button color="accent" style="float: right" (click)="addItem()">Add item</button>
  </div>

  <button mat-raised-button color="primary" (click)="callDelete()">Delete list</button>
</div>
