.container{
  max-width: 422px;
  /*background: antiquewhite;*/
  background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);

  padding: 8px;
  margin: 8px;

  border: 1px solid black;
  border-radius: 5px;

  font-size: 18px;
  font-family: 'Xanh Mono', monospace;
}
