<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">

<div class="container">
  <div *ngIf="todoList">
   List title: <strong>{{todoList.title}}</strong>
  </div>


  <div>
    Enter the item:
    <mat-form-field >
      <mat-label>Item</mat-label>
      <input matInput  value="" [formControl]="ItemFormControl" [(ngModel)]="itemName">
      <mat-error *ngIf="ItemFormControl.hasError('required')">
        Name of list is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- <input [(ngModel)]="itemName"> -->


    <button mat-raised-button color="accent" (click)="addItem()">Add item</button>

    <app-todo-item-component *ngFor="let item of todoList.items" (deleteItem)="DeleteItemFunc(item)" [todoItem]="item"></app-todo-item-component>
  </div>
  <button mat-raised-button color="primary" (click)="callDelete()">Delete list</button>
</div>
