<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">

<div class="add-container">
  <div class="add-title">Create your dashboard</div>

  <mat-form-field class="add-input">
    <mat-label>Dashboard name</mat-label>
    <input matInput placeholder="Ex. Daily routine" value="" [(ngModel)]="dashboardTitle">
  </mat-form-field>

  <button class="add-button" mat-raised-button [disabled]="isLoading" color="accent" (click)="addDashboard()">Add</button>
  <button class="add-button" mat-raised-button [disabled]="isLoading" color="primary" [routerLink]="'/'">Cansel</button>

  <div *ngIf="error">{{error}}</div>

  <div *ngIf="isLoading" class="loading">
    <div>
      <mat-spinner></mat-spinner>
      Loading...
    </div>
  </div>

</div>


