.add-title{
  font-family: 'Xanh Mono', monospace;
  font-size: 30px;
  font-weight:700;
  padding: 8px;
}

.add-container{
  width: 100%;
  max-width: 1200px; /* максимальный размер контейнера */
  margin: 0 auto; /* выравнивание по центру */

  justify-content: center;
  text-align: center;
}
