<!-- <mat-toolbar class="gradient" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Taskmanager</span>
  <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  </mat-toolbar> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">

<mat-toolbar class="gradient">

  <span> <strong> My Taskmanager</strong> </span>

  <div *ngIf="!authService.getUserName()">
    <a mat-icon-button [routerLink]="'/registration'">
      <mat-icon>assignment_ind</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="'/login'">
      <mat-icon>login</mat-icon>
    </a>
  </div>

  <div *ngIf="authService.getUserName()">
    <div>Hello {{authService.getUserName()}}</div>
    <button mat-button (click)="authService.logout()">
      Logout
    </button>
  </div>

</mat-toolbar>


<div class="router-style">
  <router-outlet></router-outlet>
</div>

