.item{
  max-width: 390px;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
 /* background: #F5F5F5;*/
  padding: 8px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 4px;
}
